html {
    background-color: #FFFFFF;
    color: #000000;
}
body {
    display: flex;
    font-family: Graphik, sans-serif;
    margin: 0;
    padding: 200px 0 50px;
}
h1 {
    font-size: 20px;
    margin: 0;
}
a {
    color: #3182CE;
}

#home-title-wrapper {
    width: 40%;
}
#home-title {
    align-items: center;
    background-color: #171923;
    color: #FFFFFF;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding: 10px 20px;
}

#home-nav {
    flex: 1;
}
#home-nav ul {
    margin: 0;
    padding: 0;
}
.home-nav-item {
    list-style-type: none;
}
.home-nav-item a {
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.home-nav-item a:before {
    content: "\00BB";
    padding-right: 10px;
}
.home-nav-item a:hover,
.home-nav-item a:focus {
    background-color: #3182CE;
    color: #FFFFFF;
    outline: none;
}