html {
    background-color: #FFFFFF;
    color: #515151;
}
body {
    display: flex;
    font-family: 'DejaVuSansBook', Arial, Sans-serif;
    margin: 0;
    padding: 200px 0 50px;
}
h1 {
    font-size: 200%;
    margin: 0;
}
a {
    color: #00B4FF;
}

#home-title-wrapper {
    width: 33%;
}
#home-title {
    background-color: #515151;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    text-align: right;
}

#home-nav {
    flex: 1;
}
#home-nav ul {
    margin: 0;
    padding: 0;
}
.home-nav-item {
    list-style-type: none;
}
.home-nav-item a {
    display: block;
    font-size: 200%;
    padding: 20px;
    text-decoration: none;
}
.home-nav-item a:before {
    content: "\00BB";
    padding-right: 10px;
}
.home-nav-item a:hover,
.home-nav-item a:focus {
    background-color: #00B4FF;
    border-right: 10px solid #515151;
    color: #FFFFFF;
    outline: none;
}